<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login - GuardPro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Usuário (Email)</mat-label>
          <input matInput formControlName="username" placeholder="seuemail@exemplo.com" required>
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            Usuário é obrigatório.
          </mat-error>
          <mat-error *ngIf="loginForm.get('username')?.hasError('email')">
            Formato de email inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Senha é obrigatória.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

